@charset "utf-8";
/*
	www.adamalsegard.se
	copyright Adam Alsegård
*/
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local("Arvo"), url(https://themes.googleusercontent.com/static/fonts/arvo/v5/WJ6D195CfbTRlIs49IbkFw.woff) format("woff"); 
}

/* general styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
 /* needed for container min-height */
}

.pad-section {
  padding: 100px 0;
}
.pad-section img {
  width: 100%;
}

p {
  font-size: medium;
}

a {
  color: #808080;
}
a:hover {
  color: #333333;
}

.prize {
  color: #cca300;
}

.categories {
  color: #5c85d6;
}
@media (min-width: 768px) {
  .categories {
    display: block;
    padding-top: 2vh;
  }
}

.programming {
  text-decoration: underline;
  -webkit-text-decoration-color: #009900;
  text-decoration-color: #009900;
}

.program {
  text-decoration: underline;
  -webkit-text-decoration-color: #ffff00;
  text-decoration-color: #ffff00;
}

.personal {
  text-decoration: underline;
  -webkit-text-decoration-color: #e68a00;
  text-decoration-color: #e68a00;
}

.technique {
  text-decoration: underline;
  -webkit-text-decoration-color: #cc0099;
  text-decoration-color: #cc0099;
}

.panel-slim {
  margin: 0px;
  padding: 0px;
}

/* additional sections */
#home {
  background: url(../img/bg_pic-1-1200.jpg) no-repeat center center fixed; 
  display: inherit;
  text-align: center;
  vertical-align: middle;
  height: auto;
  position: relative;
  width: 100%;
  overflow: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
}
#home a {
  color: #303030;
}
#home a:hover{
  color: #7e7e7e;
}

#about{
  margin: auto;
  width: 82%;
}
#about a {
  color: #cca300;
}
#about a:hover{
  color: #7e7e7e;
}
#about .panel-body {
  background-color: #262612;
  color: #f2f2f2;
}
#about h2 {
  color: #993D00;
}

#sec3 .bcg{
  background: #262422;
  height: 130px;
  text-align: center;
}

#portfolio {
  background: url(../img/bg_pic-2-1200.jpg) no-repeat center center fixed; 
  display: inherit;
  height: auto;
  position: relative;
  width: 100%;
  overflow: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #f2f2f2;
}
#portfolio .panel-body {
  background-color: #262422;
  color: #f2f2f2;
}
#portfolio h2, #portfolio h3, #portfolio h4, #portfolio h5 {
  color: #993D00;
}
#portfolio p{
  color: #DEDEDE;
}

/*Extended portfolio*/
#portfoliohtml {
  background: url(../img/portfolio-1200.jpg) no-repeat center center fixed; 
  display: inherit;
  height: auto;
  position: relative;
  width: 100%;
  overflow: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #FFAA70;
  color: #f2f2f2;
}
#portfoliohtml .panel-body {
  background-color: #262422;
  color: #f2f2f2;
}
#portfoliohtml h2, #portfoliohtml h3, #portfoliohtml h4, #portfoliohtml h5 {
  color: #993D00;
}
#portfoliohtml  a {
  color: #808080;
}
#portfoliohtml a:hover {
  color: #333333;
}

#sec5 .bcg{
  background: #480000;
  height: 130px;
  text-align: center;
} 

#commitments {
  background: url(../img/bg_pic-3-1200.jpg) no-repeat center center fixed; 
  display: inherit;
  height: auto;
  position: relative;
  width: 100%;
  overflow: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #f2f2f2;
}
#commitments .panel-body {
  background-color: #480000;
  color: #f2f2f2;
}
#commitments h2, #commitments h3, #commitments h4, #commitments h5 {
  color: #BF9300;
  text-shadow: 1px 0px 4px #000000;
}
#commitments p {
  color: #DEDEDE;
}

/*Extended commitments*/
#engagemang {
  background: url(../img/engagemang-1200.jpg) no-repeat center center fixed; 
  display: inherit;
  height: auto;
  position: relative;
  width: 100%;
  overflow: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #FFAA70;
}
#engagemang .panel-body {
  background-color: #0086A1;
  color: #f2f2f2;
}
#engagemang h2, #engagemang h3, #engagemang h4, #engagemang h5 {
  color: #1C1C1C;
}
#engagemang p {
  color: #DEDEDE;
}
#engagemang  a {
  color: #333333;
}
#engagemang a:hover {
  color: #808080;
}

#sec7 .bcg{
  background: #00376E;
  height: 130px;
  text-align: center;
} 

#contact {
  background: url(../img/bg_pic-4-1200.jpg) no-repeat center center fixed; 
  display: inherit;
  height: 90%;
  position: relative;
  width: 100%;
  overflow: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #FFAA70;
  color: #f2f2f2;
}
#contact .panel-body {
  background-color: #00376E;
  color: #f2f2f2;
}
#contact h2, #contact h4 {
  color: #f2f2f2;
}

footer {
  padding: 20px 0;
}
