/**
* www.adamalsegard.se
* Copyright Adam Alsegård
*/

@charset "utf-8";

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local("Arvo"), url(https://themes.googleusercontent.com/static/fonts/arvo/v5/WJ6D195CfbTRlIs49IbkFw.woff) format("woff");
}

/** GENERAL STYLES **/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
 /* needed for container min-height */
}

.pad-section {
  padding: 100px 0;
}
.pad-section img {
  width: 100%;
}

.panel-slim {
  margin: 0px;
  padding: 0px;
}

h2 {
  text-shadow: 1px 1px 0px #000000; /* Horizontal, Vertical, Radius */
}

/** DEFAULT TEXT COLOURS **/
p {
  font-size: medium;
  color: #E6E6E6; /* HSV: 0, 0%, 90% */
}

a, .light-link {
  color: #A6A6A6; /* HSV: 0, 0%, 65% */
}
a:hover, .light-link:hover {
  color: #DADADA; /* HSV: 0, 0%, 85% */
}

.dark-link {
  color: #666666; /* HSV: 0, 0%, 40% */
}
.dark-link:hover {
  color: #B3B3B3; /* HSV: 0, 0%, 70% */
}

.dark {
  color: #808080; /* HSV: 0, 0%, 50% */
}

.prize {
  color: #CDAB00; /* HSV: 50, 100%, 80% */
}

.categories {
  color: #73ADE6; /* HSV: 210, 50%, 90% */
}
@media (min-width: 768px) {
  .categories {
    display: block;
    padding-top: 2vh;
  }
}

.programming { /* HSV: 120, 100%, 80% */
  text-decoration: underline;
  -webkit-text-decoration-color: #00CD00;
  text-decoration-color: #00CD00;
}

.program { /* HSV: 60, 100%, 80% */
  text-decoration: underline;
  -webkit-text-decoration-color: #CDCD00;
  text-decoration-color: #CDCD00;
}

.personal { /* HSV: 180, 100%, 80% */
  text-decoration: underline;
  -webkit-text-decoration-color: #00CDCD;
  text-decoration-color: #00CDCD;
}

.technique { /* HSV: 330, 100%, 80% */
  text-decoration: underline;
  -webkit-text-decoration-color: #CD0066;
  text-decoration-color: #CD0066;
}

/** ADDITIONAL SECTIONS **/

/* HOME */
#home {
  background: url(../img/bg_pic-1-1200.jpg) no-repeat center center fixed;
  display: inherit;
  text-align: center;
  vertical-align: middle;
  height: auto;
  position: relative;
  width: 100%;
  overflow: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
}


/* ABOUT */
#about{
  margin: auto;
  width: 82%;
}
#about a {
  color: #E6A15C; /* HSV: 30, 60%, 90% */
}
#about a:hover{
  color: #808080; /* HSV: 0, 0%, 50% */
}
#about .panel-body {
  background-color: #26260F; /* HSV: 60, 60%, 15% */
}
#about h2 {
  color: #CD8033; /* HSV: 30, 75%, 80% */
}

#sec3 .bcg{
  background: #26260F; /* HSV: 60, 60%, 15% */
  height: 130px;
  text-align: center;
}


/* PORTFOLIOS */
#portfolio {
  background: url(../img/bg_pic-2-1200.jpg) no-repeat center center fixed;
  display: inherit;
  height: auto;
  position: relative;
  width: 100%;
  overflow: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#portfolio .panel-body {
  background-color: #262626; /* HSV: 0, 0%, 15% */
}
#portfolio h2, #portfolio h3, #portfolio h4, #portfolio h5 {
  color: #CD8033; /* HSV: 30, 75%, 80% */
}

/* Extended portfolio */
#portfoliohtml {
  background: url(../img/portfolio-1200.jpg) no-repeat center center fixed;
  display: inherit;
  height: auto;
  position: relative;
  width: 100%;
  overflow: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#portfoliohtml .panel-body {
  background-color: #262626; /* HSV: 0, 0%, 15% */
}
#portfoliohtml h2, #portfoliohtml h3, #portfoliohtml h4, #portfoliohtml h5 {
  color: #CD8033; /* HSV: 30, 75%, 80% */
}

#sec5 .bcg{
  background: #262626; /* HSV: 0, 0%, 15% */
  height: 130px;
  text-align: center;
}


/* COMMITMENTS */
#commitments {
  background: url(../img/bg_pic-3-1200.jpg) no-repeat center center fixed;
  display: inherit;
  height: auto;
  position: relative;
  width: 100%;
  overflow: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#commitments .panel-body {
  background-color: #4D1F1F; /* HSV: 0, 60%, 30% */
}
#commitments h2, #commitments h3, #commitments h4, #commitments h5 {
  color: #CD8033; /* HSV: 30, 75%, 80% */
}

/* Extended commitments */
#engagemang {
  background: url(../img/engagemang-1200.jpg) no-repeat center center fixed;
  display: inherit;
  height: auto;
  position: relative;
  width: 100%;
  overflow: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#engagemang .panel-body {
  background-color: #1E364D; /* HSV: 210, 60%, 30% */
}
#engagemang h2, #engagemang h3, #engagemang h4, #engagemang h5 {
  color: #CD8033; /* HSV: 30, 75%, 80% */
}

#sec7 .bcg{
  background: #4D1F1F; /* HSV: 0, 60%, 30% */
  height: 130px;
  text-align: center;
}


/* CONTACT */
#contact {
  background: url(../img/bg_pic-4-1200.jpg) no-repeat center center fixed;
  display: inherit;
  height: 90%;
  position: relative;
  width: 100%;
  overflow: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#contact .panel-body {
  background-color: #0A3866; /* HSV: 210, 90%, 40% */
}
#contact h2, #contact h4 {
  color: #E6E6E6; /* HSV: 0, 0%, 90% */
}

footer {
  padding: 20px 0;
}
