<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta keywords="Adam Alsegård, adaal265, MT, Legionen 2014, MTD 2016">
  <meta name="description" content="Adam Alsegård, M.Sc. student in Media Technology">

  <title>Adam Alsegård</title>
  <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <!--<script type="text/javascript" src="js/angular.min.js"></script>-->
</head>

<body ng-app="myApp">

  <!-- Navigation panel -->
  <nav class="navbar navbar-default navbar-fixed-top" id="bs-js-navbar-scrollspy">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="navbar">
            <i class="sr-only">Toggle navigation</i>
            <i class="icon-bar"></i>
            <i class="icon-bar"></i>
            <i class="icon-bar"></i>
          </button>
        <a class="navbar-brand" href="#home">Adam Alsegård</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">Home</a></li>
          <!-- <li><a href="#about">About</a></li> -->
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#commitments">Commitments</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Section 1 - home -->
  <div id="home" class="home">
    <div class="container">
      <!-- Section 1.5 - Jumbotron -->
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-3">
            <img class="img-rounded" src="img/BWheadshot.jpg" alt="Headshot" width="200" height="300" />
          </div>
          <div class="col-md-6">
            <h1>Adam Alsegård</h1>
            <h4>Programmer, Filmmaker, Nerd, Person</h4>
          </div>
          <div class="col-md-3">
            <div class="icons">
              <a href="https://github.com/adamalsegard" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></a>
              <a href="https://www.facebook.com/adam.alsegard" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a>
              <a href="https://www.linkedin.com/pub/adam-alsegård/87/25/417" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a>
              <a href="https://vimeo.com/adamalsegard" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-vimeo-square fa-stack-1x fa-inverse"></i></span></a>
              <a href="https://www.youtube.com/user/questisiones" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-youtube fa-stack-1x fa-inverse"></i></span></a>
              <a href="https://instagram.com/adamalsegard/" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a>
              <a href="mailto:adam.alsegard@gmail.com"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></a>
              <a href="lists/CV-2017.pdf" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-vcard-o fa-stack-1x fa-inverse"></i></span></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Section 2 - about -->
      <div id="about" class="pad-section">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row" data--350-top="opacity: 1" data-top-bottom="opacity: 1" data-anchor-target="#about h2">
              <div class="col-sm-12">
                <h2> About </h2>
                <p>
                  I am a Master of Science student in Media Technology/Software Engineering at Linköping University (Campus Norrköping), Sweden.
                  I spent my fourth academic year as an exchange student at the National University of Singapore but now
                  I am back in Sweden again studying my fifth and final year at LiU. I am currently looking for a company
                  to do my Master thesis at!
                </p><br>
                <p>
                  I'm a huge film nerd, both watching and making them. The latter something I got to try while studying film-making in Stockholm
                  for a year before starting University. The main reason I chose the MT program was actually film and the
                  possibility to work with animated movies after graduation. So it should come as no surprise that computer
                  graphics is another big passion of mine!
                </p><br>
                <p>
                  However, I'd never programmed before starting MT so it took some time to get comfortable but now I love it, especially to
                  get visual results from the code you write. That's why another passion of mine is to write code that's
                  fast (why not parallel), well structured and gives a visual result! I'm very interested in the user experience
                  in the digital world!
                </p><br>
                <p>
                  When I'm not coding I like to distribute my time between different projects and organizations as well as playing basketball
                  or relaxing with a good book. This website's purpose is to present both my coding projects but also my
                  other commitments. Hope you enjoy it!
                </p><br>
                <p>
                  If you think any of these projects sound interesting and you want to know more, please drop me a message! The same applies
                  if you have a project, internship or summer job that you think I would be interested in! Or if you just
                  want to say hi! :D
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Section 3 - Interlude 1 -->
  <div id="sec3">
    <div class="bcg" data-bottom="background-color:rgb(1,36,1);" data-top="background-color:rgb(56,59,56);" data-anchor-target="#sec3"></div>
  </div>

  <!-- Section 4 - Portfolio -->
  <div id="portfolio" class="pad-section" ng-controller="portfolio">
    <div class="container">
      <h2 class="text-center"> Portfolio</h2>

      <!-- Default Angular Portfolio-->
      <div class="panel panel-default" ng-repeat="x in project | filter:{show:true}">
        <div class="panel-body">
          <div class="row text-center">
            <div class="col-sm-8">
              <h3>{{ x.title }}</h3>
            </div>
            <div class="col-sm-4">
              <h4><span class="categories">{{ x.category }}</span></h4>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-sm-8">
              <p ng-bind-html="x.description | rawHtml"></p><br>
              <h5>Developed skills in:</h5>
              <p ng-bind-html="x.skills | rawHtml"></p>
            </div>
            <div class="col-sm-4">
              <h4>{{ x.duration }}</h4>
              <p ng-bind-html="x.links | rawHtml"></p>
              <span ng-bind-html="x.video | rawHtml"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row text-center">
            <div class="col-sm-4">
              <a href="html/portfolio.html">See more finished projects...</a>
            </div>
            <div class="col-sm-8"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Section 5 - Interlude 2 -->
  <div id="sec5">
    <div class="bcg" data-bottom="background-color:rgb(56,59,56);" data-top="background-color: rgb(50, 0, 0);" data-anchor-target="#sec5"></div>
  </div>

  <!-- Sekction 6 - Commitments -->
  <div id="commitments" class="pad-section" ng-controller="commitments">
    <div class="container">
      <h2 class="text-center"> Commitments </h2>

      <!-- Default Angular Commitments-->
      <div class="panel panel-default" ng-repeat="x in project | filter:{show:true}">
        <div class="panel-body">
          <div class="row text-center">
            <h3> {{ x.title }}</h3>
          </div>
          <div class="row text-center">
            <div class="col-sm-3">
              <h4>{{ x.duration }}</h4>
              <p>{{ x.volunteer }}</p>
            </div>
            <div class="col-sm-6">
              <p ng-bind-html="x.description | rawHtml"></p>
            </div>
            <div class="col-sm-3">
              <h5>Developed skills in:</h5>
              <p> {{ x.skills }}</p>
              <p ng-bind-html="x.links | rawHtml"></p>
              <span ng-bind-html="x.video | rawHtml"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row text-center">
            <div class="col-sm-4">
              <a href="html/engagemang.html">See more commitments...</a>
            </div>
            <div class="col-sm-8"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Section 7 - Interlude 3 -->
  <div id="sec7">
    <div class="bcg" data-bottom="background-color:rgb(50, 0, 0);" data-top="background-color: rgb(0, 55, 110);" data-anchor-target="#sec7"></div>
  </div>

  <!-- Section 8 - Contact -->
  <div id="contact" class="pad-section">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row text-center">
            <h2>So this was me!</h2>
            <div class="col-sm-6 ">
              <h4> Feel free to contact me on social media!</h4>
              <a href="mailto:adam.alsegard@gmail.com">Or send me a nice e-mail!</a>
            </div>
            <div class="col-sm-6 ">
              <h4> Here's my resumé</h4>
              <a href="lists/CV-2017.pdf" target="_blank">CV/Resumé</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <footer>
    <div class="container">
      <p class="text-right">Copyright &copy; Adam Alsegård 2015</p>
    </div>
  </footer>

  <!-- JavaScripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="js/skrollr.min.js"></script>
  <script type="text/javascript">
    if (!(/Android|iPhone|iPad|iPod|BlackBerry|Windows Phone/i).test(navigator.userAgent || navigator.vendor || window.opera)) {
      var s = skrollr.init({ forceHeight: false });
    }
  </script>
  <script type="text/javascript" src="js/main.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--<script type="text/javascript" src="js/bootstrap.min.js"></script>-->
  <script>
    window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.j"><\/script>')
  </script>

</body>
</html>